# https://pnpm.io/8.x/npmrc#engine-strict
engine-strict=true # If this is enabled, pnpm will not install any package that claims to not be compatible with the current Node version.
# https://pnpm.io/8.x/npmrc#use-node-version
use-node-version=20.15.1 # Specifies which exact Node.js version should be used for the project's runtime.
# https://pnpm.io/8.x/npmrc#node-version
node-version=20.15.1 # The Node.js version to use when checking a package's engines setting.